* {padding:0;
    margin:0;
    font-family: 'Quicksand',sans-serif;}

body {
  background-color: #f8f8f8;
}

* {
    color: inherit ;
    text-decoration: none;
}

.input-control {
  width:100%;
  padding:10px;
  margin-bottom:15px;
  box-sizing: border-box;
}

.btn-1 {
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  padding:8px 15px;
  color: #fff;
  border:none;
  cursor: pointer;
}
header {
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-color: #C70039;
  color: #fff;
}
header h1 {
  float: left;
  padding:10px 0;
}
header ul {
  float: right;
}
header ul li {
  display: inline-block;
}
header ul li a {
  padding:20px 0 20px 15px;
  display: inline-block;
}
footer {
  padding:25px 0;
}
.container-1 {
  width: 80%;
  margin:0 auto;
}
.container-1:after {
  content: '';
  display: block;
  clear: both;
}
.section-1 {
  padding:25px 0;
}
.box-1 {
  background-color: #fff;
  border:1px solid #ccc;
  padding:15px;
  box-sizing: border-box;
  margin:10px 0 25px 0;
}
.box-1:after {
  content: '';
  display: block;
  clear: both;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tr {
  height: 30px;
}
.table tr td {
  padding:5px 10px;
}
.search {
  padding:15px 0;
  background-color: #fff;
  border:1px solid #ccc;
  text-align: center;
}
.search input[type=text] {
  width: 60%;
  padding:10px;
}
.search input[type=submit] {
  padding:12px 15px;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-color: #C70039;
  color:#fff;
  border:none;
  cursor: pointer;
}
.col-5 {
  width:20%;
  height:100px;
  text-align: center;
  float: left;
  padding:10px;
  box-sizing: border-box;
}
.col-4 {
  width:25%;
  height: 320px;
  border:1px solid #ccc;
  float: left;
  padding:10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.col-4:hover {
  box-shadow: 0 0 3px #999;
}
.col-4 img {
  width: 100%;
}
.col-4 .nama {
  color: #666;
  margin-bottom: 5px;
}
.col-4 .harga {
  font-weight: bold;
  color:#32be8f;
  float: right;
}
.footer {
  padding:25px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}
.footer p {
  margin-bottom: 10px;
}
.footer small {
  margin-top: 25px;
  display: inline-block;
}
.col-2 {
  width: 50%;
  min-height: 200px;
  padding:10px;
  box-sizing: border-box;
  float: left;
}
.col-2 img {
  border:1px solid #f9f9f9;
  padding:5px;
  box-sizing: border-box;
}
.col-2 h3 {
  margin-bottom: 10px;
}
.col-2 h4 {
  color: #C70039;
}
.col-2 p {
  margin:15px 0;
  text-align: justify;
  line-height: 25px;
  font-size:14px;
}

#slider {
  margin: auto;
  padding: 15px 0;
  position: relative;
  width: 500px;
  height: 265px;
 
  overflow: hidden;
}
#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;
 
  float: left;
}
#slider ul li img{
  width: 500px;
  height: 265px;
}
 
#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}
#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}
#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg1:hover {opacity: 0.7;}

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2:hover {opacity: 0.7;}

#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg3:hover {opacity: 0.7;}

#myImg4 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg4:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}